body {
    margin: 0;
}

.header {
    background-color: cadetblue;
    font-family: 'Martel Sans', sans-serif;
    height: 20vh;
    width: 100%;
}

p {
    font-family: 'Martel Sans', sans-serif;
}

.parrafo {
    width: 60%;
    margin: auto;
}

.titulo h1 {
    font-family: 'IM Fell English', serif;
    font-size: 2em;
    text-align: center;
}